*{
  margin: 0px;
  padding: 0px;
}
.sora{
    font-family: "Sora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: black;
}
.adl-dis{
  font-family: "ADLaM Display", serif;
  font-weight: 400;
  font-style: normal;
}
